/* Arvostelussa ei lukenut mitään siitä, kuinka hyvältä sivun tulee näyttää, joten tällä mennään. */
.container {
  padding: 25px;
}

.item_box{
  border: 1px solid black;
  background-color: rgb(102, 255, 255, 0.5);
}

.amount_box{
  border: 1px solid black;
  background-color: rgb(0, 153, 153, 0.5);
}

th, td {
  padding: 15px;
}

.delete {
  margin-top: 5px;
  padding: 5px;
  width: 80px;
  align-self: center;
  background-color: #f08080;
}

.delete:hover {
  background-color: rgb(244, 164, 164);
}

.edit {
  padding: 5px;
  width: 80px;
  align-self: center;
  background-color: #008000;
}

.edit:hover {
  background-color: rgb(0, 255, 0);
}